@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    overflow: hidden;
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 0;
    box-shadow: 0 5px 6px rgba(00, 00, 00, 0.11);
    top: 0;
}


.logo {
    width: auto !important;
    height: 8vh !important;
}

.navbar-item {
    font-size: 1.3125rem;
    font-weight: bold;
    color: #707070;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.navbar-item img {
    width: auto;
    height: 1.7rem;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: #FDFDFD;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    font-size: 1.5625rem;
    font-weight: 500;
    color: black;
}

.section * {
    float: left;
    margin-left: 7.3vw;
}

.section p {
    width: 80%;
}

.section h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.arr-btn {
    margin: auto;
    bottom: 0;
    /* position: absolute; */
}

/* Small height divices */
@media only screen and (max-height: 600px) {
    .section {
        /* background-color: blueviolet; */
    }

    :root {
        font-size: 7px !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section {
        /* background-color: brown; */
    }

    :root {
        font-size: 9px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section {
        /* background-color: aquamarine; */
    }

    :root {
        font-size: 12px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .section {
        /* background-color: red; */
    }

    :root {
        font-size: 13px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section {
        /* background-color: aqua; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
    .section {
        /* background-color: crimson; */
    }

    :root {
        font-size: 20px;
    }
}